@media only screen and (max-width : 768px) {
    .header-area{
        height: 100%;   
    }
    .navbar-brand{
        font-size: 35px;
        
    }
    .navbar-brand span{
        font-size: 32px;
        padding: 0 12px;
        margin-left: -10px;
        
    }
    .navbar-nav{
        margin-top: 40px; 
    }
    .nav-item .nav-link{
        color:  #0a0656!important;
        text-align: center;
        margin: 10px;
    }
    .nav-item .last{
        display: none;
        
        }
        .half-width{
            max-width: 70%;
        }
        .common-work{
            display: flex;
            /* flex-wrap: wrap; */
            padding-top: 70px;
            padding-bottom: 30px;
            flex-direction: column;
            align-items: center;
           
        }
        .half-width{
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        .half-width img{
            max-width: 70%;
            margin-left: 0px;
            margin-top: 50px;
        }
        
        .agency{
        font-size: 14px;
        
        }
        .agency::after{
            left: 160px;
        }
        .main-title{
            font-size: 40px;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
            color: #273d90;
            
        }
         .main-title span{
            font-size: 34px;
        }
        .half-width p{
            font-size: 12px;
        }
        .half-width .ban-but{  
            margin-top: 30px;
            text-align: center;
            }
        .half-width .banner-button{
        font-size: 14px;
        font-weight: 400;
        padding: 10px 20px;
        
        }
        /* Service area */
        .service-area{
            margin-top: 50px;
        }
        
        .service-area .common-title .agency::after{
            left: 120px;
        }
        .service-row{
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
            margin-bottom: 50px;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        .service-col .service-title h3{
            font-size: 20px;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
            color: #273e90;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        .service-col{
            box-shadow: 2px 2px 11px #999;
           padding-top: 35px;
           padding-bottom: 40px;
           padding-left: 15px;
           padding-right: 15px;
           text-align: center;
           margin-top: 20px;
           width: 80%;
        }
        .service-col .service-content{
            font-size: 12px;  
        }
        /* Business area */
        .business-area .agency{
            margin-bottom: 0;
            margin-top: 20px;
        }
        .business-area .agency::after{
            left: 100px;
        }
        .business-area .main-title span{
            font-size: 29px;
        }
        
        .business-area .half-width img{
            max-width: 80%;
        }
        
        .right-half-width{
            margin-left: 50px;
        }
        /* Brand area */
        .brand-area{
            margin-bottom: 100px;
        }
        .brand-name{
            box-shadow: 2px 2px 10px #999;
            padding: 40px;
        }
        .brand-name ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        }
        .brand-name ul li{
            color: #a1a1a2;
            margin: 10px;
        }
        /* Portfolio area */
        .portfolio-area{
            margin-bottom: 50px;
            }
            .nav-area{
                margin-top: 20px;
            }
            .nav-area ul{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
            
            }
            .nav-area ul li{
               font-size: 12px;
                margin: 10px;  
            }
            .each-item img{
                max-width: 70%;
            }
            /* Client area */
            .client-area .common-title .agency::after{
                left: 130px;
            }
            .quote i{             
               left: 150px;
               font-size: 30px;  
            }
            .owl-theme .owl-dots .owl-dot span{
                position: relative;
                bottom: 0px;
                right: 0px;  
            }
            /* News area */
            .news-area .half-width{
                display: flex;
                flex-wrap: wrap;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
                }
                .news-area .common-title .agency::after{
                    left: 130px;
                }
                
                .content-area h4, .content-area p{
                    margin-left: -20px;
                    margin-top: 5px;
                }
                .content-area h4{
                    font-size: 16px; 
                }
                .img-area img{
                    max-width: 80%;
                    margin: 0;
                    padding: 0;
                }
                /* Footer area */   
                    .footer-title h1{
                        font-size: 35px;
                        color: #fff !important;
                        font-weight: 700;
                        font-family: 'Poppins', sans-serif; 
                        text-transform: uppercase;
                        margin-bottom: 25px;
                        padding-top: 40px;
                        display: inline-block;
                    }
                    .footer-title h1 span{
                        font-size: 32px;
                        padding: 0 10px;
                    }
                    .social-icon i{
                        margin-left: 15px;
                        margin-right: 15px;
                        color: #fff;
                        padding-bottom: 35px;
                        display: inline-block;
                    }
                    .bottom-footer{   
                        border-top: 1px solid #fff;
                    }
                    .bottom-footer p{
                        padding-top: 10px;
                        padding-bottom: 15px;
                        font-size: 12px; 
                        display: inline-block;
                    }
           
}
@media only screen and (min-width : 769px) and (max-width: 991px) {
    .main-title{
        font-size: 40px;
        
        
    }
    .navbar-nav{
        margin-top: 40px; 
    }
    .nav-item .nav-link{
        color:  #0a0656!important;
        text-align: center;
        margin: 10px;
    }
    .nav-item .last{
        display: none;
        
        }
        .nav-area ul li{
            font-size: 10px;
             margin: 10px;  
         }
        .owl-theme .owl-dots .owl-dot span{
            position: relative;
            bottom: 0px;
            right: 230px; 
            margin-top: -110px;
        }
        .quote i{             
            left: 150px;
            font-size: 30px;  
         }
         .content-area{
             margin-top: 0;
         }
         .content-area h4{
            font-size: 15px;
        }
        .content-area p{
            font-size: 13px;
        }
        .img-area p {
            position: absolute;
            bottom: 26px;
            right: 41px;   
        }
}
@media only screen and (min-width : 991px) and (max-width: 1201px){
    .owl-theme .owl-dots .owl-dot span{
        position: relative;
        bottom: 0px;
        right: 350px; 
        margin-top: -140px;
    }
    .img-area p {
        position: absolute;
        bottom: 30px;
        right: 49px;   
    }
    .quote i{             
        left: 150px;
        font-size: 30px;  
     }
}
